*{
    box-sizing:border-box;
    padding:0;
    margin:0;

}
body{
    background-image:linear-gradient(rgb(220, 49, 236),rgb(0, 255, 242));
     background-size: cover;
     background-attachment: fixed;;
}
fieldset{
    width:400px;
    height:400px;
    padding:20px;
    overflow:hidden;
    background-color: aliceblue;
    border-radius:10px;
    
}
form{
   display:flex;
   align-items: center;
   justify-content: center; 
   padding-top:100px;
   background: none;;
}
input:not([type="submit"]){
    padding:3px;
    width:200px;
    border:1px solid black;
}
label{
    display:inline-block;
  width:90px;
}
label,input{
    margin:10px;
}
h1{
    text-align: center;
    padding-bottom:20px;
}
input[type="submit"]
{

    border:1px solid black;
    width:200px;
    margin-left:70px;
    margin-top:10px;
    border-radius:10px;
    background-image: linear-gradient(hsl(313, 87%, 78%),#a2f4fa);
     color:rgb(10, 10, 10);
     font-weight: bold;
    height:30px;

}
input[type="submit"]:hover{
    background-image: linear-gradient(rgb(13, 240, 202),#d400ff);
    color:white;
}
.small{
  display:none;
}
